.nav, .navbar-nav {
    bottom: 0;
}

#navbar, .nav, .navbar-right, .workspace-left, .workspace-right, .dropdown-toggle {
    font-family: 'Source Code Pro',sans-serif;
}

.workspace-left, .workspace-right {
    font-size: 18pt;
}

.dropdown-menu {
    font-family: 'Source Sans Pro',sans-serif;
}

.navbar-brand {
    font-family: 'Josefin Sans',sans-serif;
}

h1 {
    color: blue;
}

html,body {
    height:100%;
    min-height:100%;
    width:100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

body { padding-top: 51px; }

.theme-dropdown {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.horizontal {
    font-size: 0; /* Required because inline-block elements have space between them. Other possible solutions for the problem: http://css-tricks.com/fighting... */
    overflow: hidden;  /* auto for scrollbar; hidden for none */
    overflow-y: hidden;
    white-space: nowrap; /* actually this line of code does the "magic" */
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.horizontal > div.workspace {
    display: inline-block;
    font-size: 16px; /* Reset font-size back to normal */
    vertical-align: top;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

textarea, div.home, div.tab-content, div.tab-pane, div.CodeMirror {
    height:100%;
    min-height:100%;
    width:100%;
}


.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: ns-resize;
}