@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: italic;
}

.CodeMirror,
tt{
  font-family:mononoki,monospace;
  font-size:10pt;
}


h1 {
    color: blue;
}

html,body {
    height:100%;
    min-height:100%;
    width:100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

body { padding-top: 51px; }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.horizontal {
    font-size: 0; /* Required because inline-block elements have space between them. Other possible solutions for the problem: http://css-tricks.com/fighting... */
    overflow: hidden;  /* auto for scrollbar; hidden for none */
    overflow-y: hidden;
    white-space: nowrap; /* actually this line of code does the "magic" */
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.horizontal > div.workspace {
    display: inline-block;
    font-size: 16px; /* Reset font-size back to normal */
    vertical-align: top;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

textarea, div.home, div.tab-content, div.tab-pane, div.CodeMirror {
    height:100%;
    min-height:100%;
    width:100%;
}


.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: ns-resize;
}